@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Configuration</h1>
        <p>@ViewBag.Value1</p>
        <p>@ViewBag.Value2</p>
        <p>@ViewBag.Value3</p>
        <p>@ViewBag.Value4</p>
        <br />
        <p>@ViewBag.Author</p>
        <p>@ViewBag.Version</p>
    </div>
