@model AspNetCoreConfig.Models.MyValuesOptions

@{
    ViewData["Title"] = "IOptions";
}

    <div class="text-center">
        <h1 class="display-4">IOptions</h1>
        <p>@Model.Value1</p>
        <p>@Model.Value2</p>
        <p>@Model.Value3</p>
        <br />
        <p>@Model.About.Author</p>
        <p>@Model.About.Version</p>
    </div>
